<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="businesscard.dhruv.businesscardscanner"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="businesscard.dhruv.businesscardscanner.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="businesscard.dhruv.businesscardscanner.permission.C2D_MESSAGE" />

    <application
        android:name=".ParseInit"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".MainActivity" />
        <activity
            android:name="io.github.memfis19.annca.internal.ui.camera.Camera1Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="io.github.memfis19.annca.internal.ui.camera2.Camera2Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="io.github.memfis19.annca.internal.ui.preview.PreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="io.github.memfis19.annca.internal.ui.BaseAnncaActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity
            android:name=".CropImage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainActivity1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AllCardsFragment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShowCardDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".CreateAccount"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FullImage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SaveCardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".EditCardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".BillingActLib"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Try" />
        <activity
            android:name=".ThankYouAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserKaCard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VarietyFragment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutDeveloper"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityIntro"
            android:theme="@style/Theme.Intro" />
    </application>

</manifest>