<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.memfis19.annca">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity android:name=".AllCardsActivity"></activity>
    </application>

</manifest>